body {
    background-image: url("../images/circuit_bg.jpg");
    font-family: 'Open Sans Condensed', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Iceland', cursive;
    font-size: 55pt;
    color: white;
}
img {
    max-width: 400px;
    max-height: 200px;
    margin: 0px 20px;
}
.content-wrap {
    display: flex;
    margin: 20px 0px;
    width: 100%;
    justify-content: space-between;
    font-size: 20pt;
}
.content-wrap p {
    margin: 0px 20px;
}
h3 a {
    text-decoration: none;
    color: white;
}
h3 a:hover {
    color: orange;
}
h3 a:active {
    color: orangered;
}
h1 {
    margin-top: -10px;
    margin-right: 10px;
}
h2 {
    margin-top: -10px;
}
h2 a {
    text-decoration: none;
    color: white;
}
h2 a:hover {
    color: orange;
}
h2 a:active {
    color: orangered;
}
#back-arrow {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 39pt;
}
h3 {
    font-size: 30pt;
    margin: 0px 20px;
}
main {
    background-color: rgba(0, 0, 0, 0.884);
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    height: 100%;
    color: white;
}